<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.h2_12.youcookipay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginInActivity" />
        <activity
            android:name=".PaymentMethodPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".FilterViewPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ThankYouPopUpActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ResendEmailPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ChangeEmailPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PaymentMethodPopUpActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileViewChefActivity"
            android:label="@string/title_activity_profile_view_chef"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReviewsAndRatingActivity"
            android:label="@string/title_activity_reviews_and_rating"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderHistory1Activity"
            android:label="@string/title_activity_order_history1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderScreen1Activity"
            android:label="@string/title_activity_order_screen1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderScreeen2Activity"
            android:label="@string/title_activity_order_screeen2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddMealADActivity"
            android:label="@string/title_activity_add_meal_ad"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SeeReviewAndRatingActivity"
            android:label="@string/title_activity_see_review_and_rating"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewYrAdActivity"
            android:label="@string/title_activity_view_yr_ad"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HowToUseAppActivity"
            android:label="@string/title_activity_how_to_use_app"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateDeliveryAddressActivity"
            android:label="@string/title_activity_update_delivery_address"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateDescriptionActivity"
            android:label="@string/title_activity_update_description"
            android:theme="@style/AppTheme" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".NewOrdersActivity"
            android:label="@string/title_activity_new_orders"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>